{% extends "interface/base.html" %}
{% block title %} Categories {% endblock title %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Categories</h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi vitae hic itaque
        consectetur nemo, repudiandae cum dolorem quo aspernatur fugit dicta quibusdam doloremque
        consequatur dolores corrupti dolor necessitatibus placeat voluptatem?</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Arsenal</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Guns <small class="text-muted">/
                        personel</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>All available guns</li>
                    <li>something</li>
                    <li>more than something</li>
                    <li>bla bla bla</li>
                </ul>
                <button type="submit" class="btn btn-lg btn-block btn-outline-danger" onclick="window.location.href='arsenal'">
                    Get on</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Vehicles</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Koidi  <small class="text-muted">/ manuh</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Al baal</li>
                    <li>dsvdsscas</li>
                    <li>vsddssc</li>
                    <li>cdvsvdvv</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-danger" onclick="window.location.href='vehicles'">Get started</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Records</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> Criminal <small class="text-muted"> records</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" onclick="window.location.href='{% url 'criminal' %}'">See them</button>
            </div>
        </div>
    </div>
    
    

{% endblock %}