asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
autopep8==1.4.4
backports.shutil-get-terminal-size==1.0.0
billiard==3.5.0.3
boto==2.49.0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.1.0
certifi==2018.4.16
cffi==1.12.3
chardet==3.0.4
cloudinary==1.22.0
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.7
cssselect2==0.3.0
dbr==7.6.1
decorator==4.3.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.0
django-allauth==0.40.0
django-celery==3.2.2
django-cors-headers==3.5.0
django-countries==5.5
django-crispy-forms==1.7.2
django-environ==0.4.5
django-filter==1.0.4
django-model-utils==3.2.0
django-redis==4.10.0
django-tinymce4-lite==1.7.5
django-widget-tweaks==1.4.8
djangorestframework==3.10.3
drfdocs==0.0.11
enum34==1.1.6
html5lib==1.1
hyperlink==19.0.0
idna==2.6
importlib-metadata==1.7.0
incremental==17.5.0
ipython==5.7.0
ipython-genutils==0.2.0
isort==4.3.21
itypes==1.2.0
Jinja2==2.11.2
jsmin==2.2.2
kombu==4.1.0
lazy-object-proxy==1.4.1
Markdown==3.3.dev0
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==2.0.7
olefile==0.46
packaging==16.8
pathlib2==2.3.2
pep8==1.7.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==6.2.0
prompt-toolkit==1.0.15
psycopg2==2.8.3
ptyprocess==0.5.2
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==2.3.1
pyparsing==2.1.10
python-openid==2.2.5
python-slugify==3.0.4
python3-openid==3.1.0
redis==3.3.8
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.15.0
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.22
WeasyPrint==51
webencodings==0.5.1
whitenoise==4.1.4
